body {
    background-image: url("../i/header.png?");
    background-repeat: repeat-x;
}

header {
    background-image: url("../i/tree.png");
    background-position: center 52px;
    background-repeat: no-repeat;
    height: 261px;
    padding-top: 40px;
    text-align: center;
}

header h1 {
    background-image: url("../i/logo.png");
    height: 102px;
    margin: 0 auto;
    text-indent: -99999px;
    width: 280px;
}

header h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin-top: 1.5em;
}

.container {
    background-image: url(../i/bg.png);
}
.content {
    width: 1024px;
    margin: auto;
    overflow: hidden;
}

#trailer {
    width: 750px;
}
#kickstarter {
    width: 220px;
}
#trailer, #kickstarter {
    float: left;
    padding: 3em 11px 3em;
}

#description p {
    color: #DDDDDD;
    line-height: 1.5em;
    margin: 0 0 1em;
    margin-top: 2em;
}
#credits {
    background-color: #0B1928;
    border-color: #000000 #1B2C3E #1B2C3E #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #CCCCCC;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 1em 1em 0;
    width: 220px;
    font-size: 14px;
}
#credits dd {
    font-weight: bold;
    margin: 0;
    color: #eee;
}

#credits dt {
    margin: 0 0 1em 0;
    padding-top: 5px;
}

.container.bottom {
    background-color: #020b12;
    background-image: none;
    padding-top: 1em;
}
